<!-- FORCE BLANK -->
<li class="force">
    <h2>{ROSTER NAME}</h2>
    <ul>


    </ul>
</li>

<!-- UNIT CATEGORY BLANK -->

<li class="category">
    <h3>{CATEGORY NAME}</h3>
    <ul>


    </ul>
</li>

<!-- UNIT BLANK -->

<div class="unit_table">
    <li class="rootselection">
      <h4>{UNIT NAME}</h4>
      <div class="unit_data">
        <table class=model_data cellspacing="-1">
          {MODEL TABLE}
        </table>



    </ul>
</li>

<!-- UNIT RULES BLANK -->

<div class="unit_rules">
    <h5>Unit Rules</h5>
      {UNIT RULES}
</div>

<!-- KEYWORDS AND DETAILS  BLANK -->

<div class="keywords-details">
    {KEYWORDS AND DETAILS}
</div>

<!-- ARMY RULES BLANK -->

<li class="category">
    <h3>Army Rules</h3>
    <ul>
        <div class="army_rules">
            <li>
            <h4>{FORCE} RULES</h4>
                {ARMY RULES}
            </li>
        </div>
    </ul>
</li>

<!-- CONFIGURATION BLANK -->

<li class="category">
    <h3>Configuration</h3>
    <ul>
        <div class="configuration">
            {CONFIGURATION SELECTIONS}
        </div>
    </ul>
</li>